*{
  box-sizing: border-box;
}
header{
  /* Add height and width here */
  background-color: lightcyan;
  text-align: center;
  width:100vw;
  height:20vh;
}

.middle-section{
  width:100vw;
  height:70vh;
  display:flex;
  flex-direction: row;

}

aside{
  width: 35vw;
  height:70vh;
  background-color: lightseagreen;
}

.image-section{
  height:20vh;
  background-color: aliceblue;
  display:flex;
  text-align:left;
  flex-direction:column;
  
}

footer{
  width:100vw;
  height:15vh;
  background-color: lime;
}

